body {
	background-color: beige;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

svg {
	width: 100%;
	height: 100%;
}

input,
textarea {
	border: none;
	outline: none;
}
