._productsWrapper_1t02i_1{background-color:#8a2be2;display:grid;grid-template-columns:repeat(3,1fr);gap:25px;padding:20px}._loading_1t02i_17,._error_1t02i_19{font-size:30px;margin-left:40px;color:#fff}
