.ProductItem {
	background-color: bisque;
	border-radius: 20px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.favorite {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.favorite > svg {
	fill: none;
}

.favorite.isFavorite > svg {
	fill: red;
}

.image {
	width: 300px;
	height: 450px;
	margin: 0 auto 25px auto;
	user-select: none;
}

.image > img {
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.info {
	display: flex;
	align-items: start;
	justify-content: space-between;
	font-size: 20px;
	margin-bottom: 25px;
}

.title {
	font-size: 25px;
	color: blueviolet;
	font-weight: bold;
	max-width: 500px;
}

.price {
	color: blueviolet;
	font-weight: bold;
	font-size: 25px;
}

.btnDetail {
	padding: 15px;
	font-size: 20px;
	border-radius: 8px;
	margin-top: auto;
}
